| $('#provider_name').val('#{@provider.name}');
| $('#provider_ruc').val('#{@provider.ruc}');
| $('#provider_address').val('#{@provider.address}');
| $('#provider_phone').val('#{@provider.phone}');
| $('#provider_email').val('#{@provider.email}');