| $('#main-modal .modal-content').html('#{escape_javascript(render 'show_procesado', formats: 'html')}');
| $.get('#{pedidos_compra_path}', {}, function(){}, 'script');
| $('#main-modal').modal('show');