= search_form_for @search, method: :get, remote: true, class: 'buscador col-md-11' do |f|
  = FormBuilder::text_field_search(f, :nombre_or_marca_nombre_or_componente_categoria_nombre_or_iva_valor_cont, "Buscar...")


