| var n = noty({text: '#{notice}', type: 'success'});
| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| SideFormUI.closeForm();
| $('#componentes-size').text('#{@componentes_size}');
