| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@componentes, remote: true)) }");
| $('#componentes-size').text('#{@componentes_size}');