| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| SideFormUI.closeForm();
| var n = noty({text: '#{notice}', type: 'success'});
| $('#proveedores-size').text('#{@proveedores_size}');