| $('#proveedor_nombre').val('#{@proveedor.nombre}');
| $('#proveedor_ruc').val('#{@proveedor.ruc}');
| $('#proveedor_direccion').val('#{@proveedor.direccion}');
| $('#proveedor_email').val('#{@proveedor.email}');