| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#main-modal').modal('hide');
| $('#paginator').html("#{escape_javascript(paginate(@asientos_modelo, remote: true)) }");
| $('#asientos-modelo-size').text('#{@facturas_compra_size}');
