| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@asientos_modelo, remote: true)) }");
| $('#asientos-modelo-size').text('#{@asientos_modelo_size}');
