| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@ordenes_devolucion, remote: true)) }");
| $('#main-modal').modal('hide');
| var n = noty({text: '#{notice}', type: 'success'});
| $('#ordenes-devolucion-size').text('#{@ordenes_devolucion_size}');