| var n = noty({text: '#{notice}', type: 'success'});
| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#ordenes-devolucion-size').text('#{@ordenes_devolucion_size}');