| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@ordenes_devolucion, remote: true)) }");
| $('#ordenes-compra-size').text('#{@ordenes_devolucion_size}');