| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@marcas, remote: true)) }");
| $('#marcas-size').text('#{@marcas_size}');