| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@ordenes_compra, remote: true)) }");
- if params[:recargar_modal]
  | $.get('#{ordenes_compra_path}/#{params[:orden_compra_id]}', {}, function(){}, 'script');