| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@ordenes_compra, remote: true)) }");
| $('#ordenes-compra-size').text('#{@ordenes_compra_size}');