| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
//| $('#main-modal').modal('hide');
//| $('#paginator').html("#{escape_javascript(paginate(@asientos_modelo, remote: true)) }");
| $('#cuentas-contable-size').text('#{@cuentas_contable_size}');
