| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#main-modal').modal('hide');
| $('#paginator').html("#{escape_javascript(paginate(@depositos, remote: true)) }");
| $('#depositos-size').text('#{@depositos_size}');
