= search_form_for @search, method: :get, remote: true, class: 'buscador col-md-11' do |f|
  = FormBuilder::text_field_search(f, :numero_or_estado_or_proveedor_nombre_or_user_username_or_pedido_compra_numero_cont, "Buscar...")


