| var n = noty({text: '#{notice}', type: 'success'});
| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#pedidos-cotizacion-size').text('#{@pedidos_cotizacion_size}');