| var n = noty({text: '#{notice}', type: 'success'});
| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#main-modal').modal('hide');
| $('#paginator').html("#{escape_javascript(paginate(@roles, remote: true)) }");
| $('#roles-size').text('#{@roles_size}');