= form_for(resource, :as => resource_name, url: registration_path(resource_name), html: { :method => :put, :class => 'form-horizontal' }) do |f|
  .modal-header
    h3.modal-title Cambiar contraseña
  .modal-body
    = FormBuilder::password_field(f, :password, {label_text: 'Nueva Contraseña', input_class: 'required',label_class: 'col-md-3', field_class:'col-md-9', min_length: 3, max_length: 50})
    = FormBuilder::password_field(f, :password_confirmation, {label_text: 'Confirmación de Contraseña', input_class: 'required passwordConfirmation',label_class: 'col-md-3', field_class:'col-md-9', min_length: 3, max_length: 50})
    = FormBuilder::password_field(f, :current_password, {label_text: 'Contraseña actual', input_class: 'required',label_class: 'col-md-3', field_class:'col-md-9', min_length: 3, max_length: 50})
  .modal-footer
    = f.submit "Guardar cambios", class: 'btn btn-primary'

javascript:
  $('#edit_User').validate({
      rules: {
        'user[current_password]':{
          remote: {
            url: "/usuarios/check_password",
            type: "get"
          }
        }
      },
      messages: {
        'user[current_password]': 'La contraseña no es válida.'
      }
    });