| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
| $('#paginator').html("#{escape_javascript(paginate(@usuarios, remote: true)) }");
| $('#add-modal').modal('hide');
| var n = noty({text: '#{notice}', type: 'success'});