| $("#list").html("#{escape_javascript(render partial: 'list', format: 'html')}");
//| $('#paginator').html("#{escape_javascript(paginate(@asientos_modelo, remote: true)) }");
| $('#asientos-contable-size').text('#{@asientos_contable_size}');
