// Place all the styles related to the facturas_compra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-factura{
	cursor: pointer;
}

.orden-detalles{
	h3{
		margin-top: 10px;
	}
	h5.extra{

	}

	.cantidad-field{
		width: 50px;
		text-align: right;
	}

	.monto{
		text-align: right;

	}
}

//Scroll para tablas
.table-scroll-factura{
  overflow:auto;
  height:200px;
}
tbody{
  .scrollContent {
    display: block;
    height: 262px;
    overflow: auto;
    width: 100%;
  }
}

.negrita{
	font-weight: bold;
}

table.tabla-sin-borde{
	tbody tr{
		border: hidden;
	}
}