// Place all the styles related to the Localidades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#localidades-config{
	.column-localidades{
		//padding-right: 30px;
		border-right: 1px solid #ccc;
		.localidad-form{

		}
		ul.localidades-lista{
			list-style: none;
			padding-left: 0;
			margin-left: -15px;
			margin-right: -15px;
			li{
				padding: 15px;
				cursor: pointer;
				.actions{
					float: right;
				}
				&:hover{
					background: #ddd;
				}
			}
		}
	}
}