@import 'variables.scss';
@import "bootstrap/variables";
@import "bootstrap/mixins";

@mixin nav-gradient($revert: false){
	@if $revert {
		@include gradient-vertical($navbar-custom-bg-bottom, $navbar-custom-bg-color);
	} @else {
		@include gradient-vertical($navbar-custom-bg-color, $navbar-custom-bg-bottom);
	}
}

@mixin rounded($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}