@import 'variables.scss';
@import 'mixins.scss';
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Custom nav style
.navbar-custom{
  	background-color: $navbar-custom-bg-color;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #aaa;
  	@include gradient-vertical($navbar-custom-bg-color, $navbar-custom-bg-bottom);
  	.navbar-header{
  		width: 200px;
  		text-align: center;
  		border-right: 1px solid #aaa;
  		.navbar-brand{
  			color: $nav-links;
  			float: none;
  			line-height: 50px;
  		}
  	}
  	.navbar-nav{
  		margin: 9.5px;
  		&>li{
  			margin-left: 15px;
  			&>a{
  				color: $nav-links;
  				padding: 5px 15px;
  				background-color: $navbar-link-bg;
  				border: 1px solid $navbar-link-border;
  				@include rounded(4px);
          transition: 0.5s;
  				&:hover{
  					color: #000;
  				}
  			}
  			&.active>a{
  				color: #fff;
  				border: 1px solid $navbar-link-active-border;
  				@include gradient-vertical($navbar-link-active-start, $navbar-link-active-end);
  				&:hover{
  					color: #fff;
  				}
  			}
  		}
      .icon-chevron-right{
        display: none;
      }
  	}
}

// Expose Mask Style
#sideForm-backdrop{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.6;
  z-index: 1031;
}
.modal-backdrop{
  z-index: 1033;
}

// Sobreescribir el btn-primary

.btn-primary{
  background-color: darken($navbar-link-active-start, 10);
  border-color: $navbar-link-active-end;
  &:hover{
    background-color: darken($navbar-link-active-start, 20);
    border-color: darken($navbar-link-active-end, 10);
  }
}
//Wrapper
body{
  //background-color: #f7f7f7;
}
#container{
  margin-top: 50px;
}
/*-----------Index menu-----------*/
.index-options{
  list-style: none;
  li{
    text-align: right;
    margin-top: 20px;
    a{
      height: 150px;
      background-color: $main-color;
      color: #fff;
      display: block;
      font-size: 40px;
      position: relative;
      transition: 0.5s;
      span{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        transition: 0.5s;
      }
      &:hover{
        background-color: $navbar-link-active-start;
        span{
          right: 20px;
        }
      }
    }
  }
}

/**********************************/
/*-------Sidebar menu style-------*/
/**********************************/

#sidebar-menu{
  position: fixed;
  width: 200px;
  height: 100%;
  background: $sidebar-bg;
  #toggle-sidebar{
    position: absolute;
    right: -35px;
  }
  &.hidden-sidebar{
    margin-left: -200px;
  }
  .menu{
    list-style: none;
    padding:0;
    li{
      border-bottom: 1px solid #c0c0c0;
      a{
        color: $nav-links;
        display: block;
        padding: 10px 15px;
        border-right: 5px solid $sidebar-bg;
        transition: 0.5s;
        @include nav-gradient();
        i{
          float: right;
          line-height: 20px;
        }
        &.active, &:hover{
          border-right: 5px solid $main-color;
          @include nav-gradient(true);
          text-decoration: none;
        }
      }
    }
  }
}
.has-sidebar{
  margin-left: 200px;
}


// Icon links
.link-icon{
  color: #777;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}

// Content wrapper style

#content-wrapper{
  background: #fff;
  padding: 0 15px;
  padding-top: 20px;
  &>.row{
    margin-left: 0;
    margin-right: 0;
  }

  &.hidden-sidebar{
    margin-left: 0;
  }

  #add-form{
    position: fixed;
    top: 0;
    background: #f7f7f7;
    right: 0;
    height: 100%;
    width: 500px;
    margin-right: -500px;
    border-left: 1px solid #ccc;
    z-index: 1032;
    &.side-form-show{
      margin-right: 0;
    }
    input[type="submit"]{
      float: right;
    }
  }
}
  #add-modal{
    input[type="submit"]{
      float: right;
    }
  }

.row-page-title{
  line-height: 70px;
  h2{
    float: left;
    margin-right: 20px;
  }
  .print-link{
    margin-top: 20px;
  }
}

.panel-heading{
  h3{
    margin-top: 5px;
  }
}

// Sign in for style
.form-signin{
	.panel{
		h3{
			margin-top: 0;
		}
	}
	max-width: 350px;
	margin: 30px auto;
	.input-group{
		margin-bottom: 10px;
    .input-group-addon{
      min-width: 55px;
    }
	}
	.checkbox{
		margin-top: 0;
	}
}

// Modals
.delete-modal{
  width: 260px;
}

#main-modal{
  .modal-dialog{
    width: 900px;
  }
}


// Select2 style
.select2-container{
  padding: 0;
  border: none;
  height: 100%;
  .select2-choice{
    height: 34px;
    line-height: 34px;
  }
}

.select2-result-label{
  //border-bottom: 1px solid #ccc;
  .ciudad-result{
    span{
      font-size: smaller;
      font-style: italic;
      color: #555;
    }
  }
}

.select2-result{
  &.select2-highlighted{
    span{
      color: #fff;
    }
  }
}

// Forms style
.with-btn{
  padding-right: 0;
}

.row-grid{
  margin-bottom: 15px;
}

.title-seccion{
  font-size: 16px;
  font-weight: normal;
  color: $main-color;
  margin-left: -10px;
}

// Formulario de filtros
.form-filtrar{
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  @include rounded(2px);
  padding: 10px;
  .filter-actions{
    margin-top: 25px;
  }
}
.form-filtros{
  .form-group{
    padding-left: 0;
  }
  .rango-fechas{
    .col-md-6:last-child{
      padding-left: 0;
    }
    .datepicker{

    }
  }
  .rango-fechas:nth-last-child(3){
    padding-right: 0;
  }
}
.buscador{
  padding: 0;
}

.esconder-filtros{
  position: absolute;
  right: 30px;
}

.limpiar-campo{
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
  cursor: pointer;
}

.limpiar-campo2{
  position: absolute;
  right: 20px;
  top: 34px;
  color: #999;
  cursor: pointer;
}

//Scroll para tablas
.table-scroll{
  overflow:auto;
  height:350px;
}
tbody{
  .scrollContent {
    display: block;
    height: 262px;
    overflow: auto;
    width: 100%;
  }
}

//Eliminar margen a input en tablas
td{
  .form-group{
    margin-bottom: 0;
  }
}

.monto-text{
  text-align: right;
}

#printable{
  .header{
    width: 400px;
  }
    h1,h2,h3{
      margin-top: 0;
    }
    dl{
      margin-top: 0;
      dt{
        float: left;
        width: 105px;
      }
    }
    hr{
      margin-top: 0;
    }
}