@import 'variables.scss';
@import 'mixins.scss';
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Custom nav style
.navbar-custom{
  	background-color: $navbar-default-bg-color;
  	@include gradient-vertical($navbar-default-bg-color, $navbar-default-bg-bottom);
  	.navbar-header{
  		width: 200px;
  		text-align: center;
  		border-right: 1px solid $navbar-link-border;
  		.navbar-brand{
  			color: #fff;
  			float: none;
  			line-height: 50px;
  		}
  	}
  	.navbar-nav{
  		margin: 9.5px;
  		&>li{
  			margin-left: 15px;
  			&>a{
  				color: #fff;
  				padding: 5px 15px;
  				background-color: $navbar-link-bg;
  				border: 1px solid $navbar-link-border;
  				@include rounded(4px);
  				&:hover{
  					color: #fff;
  				}
  			}
  			&.active a{
  				color: #fff;
  				border: 1px solid $navbar-link-active-border;
  				@include gradient-vertical($navbar-link-active-start, $navbar-link-active-end);
  				&:hover{
  					color: #fff;
  				}
  			}
  		}
  	}
}

//Wrapper
body{
  background-color: #f7f7f7;
}
#wrapper{
  margin-top: -22px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #E0E0E0;
}

// Sign in for style
.form-signin{
	.panel{
		h3{
			margin-top: 0;
		}
	}
	max-width: 350px;
	margin: 30px auto;
	.input-group{
		margin-bottom: 10px;
	}
	.checkbox{
		margin-top: 0;
	}
}