// Place all the styles related to the PedidoCotizacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-pedido{
	cursor: pointer;
}

.pedido-detalles{
	h3{
		margin-top: 10px;
	}
	h5.extra{

	}

	.cantidad-field{
		width: 50px;
		text-align: right;
		padding: 0 5px;
		height: 25px;
	}

	.monto-field{
		width: 120px;
		text-align: right;
		padding: 0 5px;
		height: 25px;
	}
}