@media print {
	#container{
		margin-top: 0;
	}
	#content-wrapper{
		margin-left: 0;
		border: none;
	}
	#paginator, .buscador, .btn, .btn-group{
		display: none;
	}
	a[href]:after {
    content: none !important;
  	}

  	dl{
  		dt{
  			float: left;
  			width: 105px;
  		}
  	}
}