$main-color: #389e38;
$main-border-color: #1E2646;

// Sidebar menu

$sidebar-bg: #484848;
$active-menu-bg: #272727;

//Navbar colors

$navbar-link-bg: #3b3b3b;
$navbar-link-border: #2b2b2b;

$navbar-link-active-start: #66cb66;
$navbar-link-active-end: #339933;
$navbar-link-active-border: #2a6400;