$main-color: #389e38;
$main-border-color: #1E2646;

// Sidebar menu

$sidebar-bg: #ededed;
$active-menu-bg: #272727;

//Navbar colors
$navbar-custom-bg-color: #f1f1f1;
$navbar-custom-bg-bottom: #dadada;

$navbar-link-bg: #e9e9e9;
$navbar-link-border: #bdbdbd;

$navbar-link-active-start: #66cb66;
$navbar-link-active-end: #339933;
$navbar-link-active-border: #2a6400;

// Tipografia

$nav-links: #444444;