<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @componente_categoria.nombre %>
</p>

<%= link_to 'Edit', edit_componente_categoria_path(@componente_categoria) %> |
<%= link_to 'Back', componentes_categorias_path %>
