ul.menu
  li = link_to 'Proveedores <i class="icon-chevron-right"></i>'.html_safe, proveedores_path, class: current_sidemenu(proveedores_path)
  li = link_to 'Pedidos de Compra <i class="icon-chevron-right"></i>'.html_safe, pedidos_compra_path, class: current_sidemenu(pedidos_compra_path)
  li = link_to 'Pedidos de Cotizacion <i class="icon-chevron-right"></i>'.html_safe, pedidos_cotizacion_path, class: current_sidemenu(pedidos_cotizacion_path)
  li = link_to 'Ordenes de Compra <i class="icon-chevron-right"></i>'.html_safe, ordenes_compras_path, class: current_sidemenu(ordenes_compras_path)
  li = link_to 'Facturas Recibidas <i class="icon-chevron-right"></i>'.html_safe, facturas_compra_path, class: current_sidemenu(facturas_compra_path)
  li = link_to 'Devoluciones <i class="icon-chevron-right"></i>'.html_safe, '#', class: ''