ul.menu
  li = link_to 'Datos de la empresa <i class="icon-chevron-right"></i>'.html_safe, configuraciones_path, class: current_sidemenu("/configuraciones/1/edit")
  li = link_to 'Localidades <i class="icon-chevron-right"></i>'.html_safe, localidades_path, class: current_sidemenu(localidades_path)