- if @rol[:interfaces].include?('Depositos')   
  li = link_to 'Depositos <i class="icon-chevron-right"></i>'.html_safe, depositos_path, class: current_sidemenu(depositos_path)
- if @rol[:interfaces].include?('Componentes')   
  li = link_to 'Componentes <i class="icon-chevron-right"></i>'.html_safe, componentes_path, class: current_sidemenu(componentes_path)
- if @rol[:interfaces].include?('Marcas')   
  li = link_to 'Marcas <i class="icon-chevron-right"></i>'.html_safe, marcas_path, class: current_sidemenu(marcas_path)
- if @rol[:interfaces].include?('Categorias')   
  li = link_to 'Categorias <i class="icon-chevron-right"></i>'.html_safe, componentes_categoria_path, class: current_sidemenu(componentes_categoria_path)
  //li = link_to 'Productos <i class="icon-chevron-right"></i>'.html_safe, productos_path, class: current_sidemenu(productos_path)
